/* ============
    reset
================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ============
    common
================ */
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.clearfix > * {
  float: left;
}

/* ============
    typography
================ */
body {
  font-family: 'Fredoka', sans-serif;
}
h1 {
  color: #e53170; /* tutti gli h1 nel sito sono tipo fuxia */
}

/* =======================
    sezione membri del team
========================== */
.team-description {
  padding: 35px 0 60px;
  text-align: center;
}

.team-description h1 {
  font-size: 40px;
  margin-bottom: 60px;
}

.card {
  min-width: 282px;
  background-color: rgb(15, 14, 23);
  width: calc(100% / 3 - 30px);
  margin: 0 15px 25px;
  box-shadow: 2px 2px 5px black;
}
/* ===========
    Info Card
================ */
.card > img {
  width: 100px;
}

.card > .card-info {
  width: calc(100% - 100px);
  padding: 10px;
  color: white;
}

.card > .card-info a {
  text-decoration: none;
  color: lightskyblue;
}

.card > .card-info small {
  font-weight: lighter;
}

.card > .card-info h3 {
  text-transform: uppercase;
}

.card > .card-info * {
  display: block;
  margin: 3px 0;
}
